@model Agenda

<form method="POST">
    <h2>Pré-agendamento</h2>

    <p>
        <label asp-for="Nome">Nome:</label>
        <input asp-for="Nome" />
    </p>
    <p>
        <label asp-for="Telefone">Telefone:</label>
        <input asp-for="Telefone" />
    </p>
    <p>
        <label asp-for="Data">Data:</label>
        <input asp-for="Data" />
    </p>
     <p>
        <label asp-for="Necessidade">Necessidade:</label>
        <input asp-for="Necessidade" />
    </p>

    <p>
        <label asp-for="Animal">Animal:</label>
        <input asp-for="Animal" />
    </p>
    <p>
    <input type="submit" value="Enviar" />
    </p>
   
   
   
   
   
   
   
    </form>
