@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Bem vindo a Veterinaria PETSHOP</h4>

   <figure>
       <img src="\imagens\js4.jpg" height="200" width="200">
   </figure>

   <div>
        <p>Permite cadastrar e ver os pedidos de serviços.</p>
   </div>

    
</div>
