@model List<ItemServico>

<h2>Listagem dos Serviços Cadastrados</h2>

<table>
  <thead>
      <tr>
      <th>Item</th>
      <th>Quantidade</th>
      <th>Valor</th>
      </tr>
  </thead>

  <tbody>
      @foreach (ItemServico servico in Model)
      {
         <tr>
          <td>@servico.item</td>              
          <td>@servico.quantidade</td>
          <td>@servico.valor</td>
         </tr>
         
      }
  </tbody>
</table>