@{
    ViewData["Title"] = "Serviços";
}
<h2>Serviços</h2>

<div>
    <ul>
        <li>Serviço 1</li>
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
        <li>Serviço 2</li>
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
        <li>Serviço 3</li>
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
    </ul>
</div>

